<div class="flex flex-col w-full gap-6 my-10 items-center justify-center">
  <ul
    *ngFor="let item of cartList"
    class="flex bg-slate-200 px-8 py-5 rounded-xl container gap-4 max-w-3xl"
  >
    <img
      src="{{ item.product.url }}"
      alt="item photo"
      class="w-60 h-60 object-cover rounded-xl"
    />
    <div class="flex text-2xl font-bold gap-6 flex-col">
      <li>name: {{ item.product.name }}</li>
      <li>price: {{ item.product.price }}</li>
      <li>description: {{ item.product.description }}</li>
      <li>
        <div>
          <ul class="flex items-center">
            <li class="flex-1">quantity: {{ item.quantity }}</li>
            <div class="flex gap-5">
              <button
                (click)="incresQuan(item)"
                class="bg-slate-700 rounded-full w-12 h-12"
              >
                +
              </button>
              <button
                (click)="decresQuan(item)"
                class="bg-slate-700 rounded-full w-12 h-12"
              >
                -
              </button>
            </div>
          </ul>
        </div>
      </li>
    </div>
    <li></li>
  </ul>
</div>
